<a href="https://colab.research.google.com/github/LatiefDataVisionary/matplotlib-with-indonesia-belajar/blob/main/Matplotlib_16_%7C_Alur_Hidup_Plot_%7C_Plot_Lifecycle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Matplotlib 16 | Alur Hidup Plot | Plot Lifecycle | Belajar Matplotlib Dasar | Visualisasi Data**

In [1]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

print(matplotlib.__version__)
print(np.__version__)
print(pd.__version__)

3.10.0
2.0.2
2.2.2

### **Sample Dataset**

In [2]:
data = {'Item A': 109438,
'Item B': 103569,
'Item C': 112214,
'Item D': 112591,
'Item E': 100934,
'Item F': 103660,
'Item G': 137351,
'Item H': 123381,
'Item I': 135841,
'Item J': 104437}

data

{'Item A': 109438,
 'Item B': 103569,
 'Item C': 112214,
 'Item D': 112591,
 'Item E': 100934,
 'Item F': 103660,
 'Item G': 137351,
 'Item H': 123381,
 'Item I': 135841,
 'Item J': 104437}

In [3]:
items = tuple(data.keys())
items

('Item A',
 'Item B',
 'Item C',
 'Item D',
 'Item E',
 'Item F',
 'Item G',
 'Item H',
 'Item I',
 'Item J')

In [4]:
count = tuple(data.values())
count

(109438,
 103569,
 112214,
 112591,
 100934,
 103660,
 137351,
 123381,
 135841,
 104437)