<a href="https://colab.research.google.com/github/LatiefDataVisionary/matplotlib-with-indonesia-belajar/blob/main/Matplotlib_07_Belajar_Table_Plot_%7C_Table_Chart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Matplotlib 07: Belajar Table Plot | Table Chart | Belajar Matplotlib Dasar | Visualisasi Data**

In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

print(matplotlib.__version__)
print(np.__version__)

3.10.0
1.26.4

### **Sample Data**

In [4]:
data_uas = [
    ['Bejo', 70],
    ['Tejo', 83],
    ['Cecep', 62],
    ['Wati', 74],
    ['Karti', 71]
]

data_uas

[['Bejo', 70], ['Tejo', 83], ['Cecep', 62], ['Wati', 74], ['Karti', 71]]